{% extends 'navbar.html' %}

{% block title %}
  الدرجات
{% endblock %}

{% block content %}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">الدرجات</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">لوحة التحكم</a></li>
<li class="breadcrumb-item active">الدرجات</li>
</ul>
</div>
</div>
</div>

<div class="student-group-form">
<div class="row">
<div class="col-lg-10 col-md-6">
<div class="form-group">
    <input type="text" class="form-control" id="searchInput"  placeholder=".....البحث">
</div>
</div>
<div class="col-lg-2">
<div class="search-student-btn">
<button type="btn" class="btn btn-primary">البحث</button>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">الدرجات</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
    <div style="display: flex; align-items: center;">
        <div style="flex: 1;">
            <form  method="post" enctype="multipart/form-data" action="{% url 'import-notes' %}">
                {% csrf_token %}
                <div style="display: flex; align-items: center;">
                    <div>
                        <input type="file" class="form-control" name="myfile" accept=".xlsx">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> استيراد</button>
                    </div>
                    <div>
                        <a href="{% url 'add_note' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>


<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" id="dataTable">
<thead class="student-thread">
<tr>
<th>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</th>
<th>القيمة</th>
<th>اسم الطالب</th>
<th> المادة</th>
<th>الامتحان</th>
<th class="text-end">الإجراءات</th>
</tr>
</thead>
<tbody>
{% for i in notes %}
<tr>
<td>
<div class="form-check check-tables">
<input class="form-check-input" type="checkbox" value="something">
</div>
</td>
<td>{{i.valeur}}</td>
<td>{{i.id_etud.nom}}</td>
<td>{{i.id_matiere.libelle}}</td>
<td>{{i.id_evaluation.libelle}}</td>
<td class="text-end">
<div class="actions">
<a href="/edit_note/{{i.id}}" class="btn btn-sm bg-danger-light">
    <i class="feather-edit"></i>
</a>
<a href="/delete_note/{{i.id}}" class="btn btn-sm bg-danger-light">
    <i class="feather-trash" ></i>
</a>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>


<script>
    {% if messages %}
      {% for message in messages %}
        {% if 'success' in message.tags %}
          Swal.fire({
            title: 'تمت الإضافة بنجاح',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'تم'
          });
        {% elif 'warning' in message.tags %}
          Swal.fire({
            title: 'تمت الإزالة بنجاح',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'تم'
          });
        {% elif 'info' in message.tags %}
          Swal.fire({
            title: 'تمت التعديل بنجاح',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'تم'
          });
        {% endif %}
      {% endfor %}
    {% endif %}
  </script>
{% endblock %}
