{% extends 'navbar.html' %}

{% block title %}
    إضافة المصروفات
{% endblock %}

{% block content %}
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">إضافة المصروفات</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="expenses.html">الحسابات</a></li>
<li class="breadcrumb-item active">إضافة المصروفات</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="post" action="/get_add_depense/">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>معلومات المصروفات</span></h5>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>المصروفات <span class="login-danger">*</span></label>
<input type="text" class="form-control" name="libelle">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>القيمة <span class="login-danger">*</span></label>
<input type="number" class="form-control" name="montant_total">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>التاريخ <span class="login-danger">*</span></label>
<input type="date" class="form-control" name="date">
</div>
</div>
<div class="col-12">
<div class="student-submit">
<button type="submit" class="btn btn-primary">حفظ</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
