{% extends 'navbar.html' %}
{% load static %}

{% block title %}
  المصروفات
{% endblock %}

{% block content %}
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">المصروفات</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">لوحة التحكم</a></li>
<li class="breadcrumb-item active">المصروفات</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">المصروفات</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="{% url 'add_depense' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>
<th>المصروفات</th>
<th>القيمة</th>
<th>التاريخ</th>
</tr>
</thead>
<tbody>
{% for i in depenses %}

<tr>
<td>{{i.libelle}}</td>
<td>{{i.montant_total}}</td>
<td>{{i.date}}</td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
