{% extends 'navbar.html' %}

{% block title %}
    الرواتب
{% endblock %}

{% block content %}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">الرواتب</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">لوحة التحكم</a></li>
<li class="breadcrumb-item active">الرواتب</li>
</ul>
</div>
</div>
</div>
<div class="student-group-form">
<div class="row">
<div class="col-lg-10 col-md-6">
<div class="form-group">
    <input type="text" class="form-control" id="searchInput"  placeholder=".....البحث">
</div>
</div>
<div class="col-lg-2">
<div class="search-student-btn">
<button type="submit" class="btn btn-primary">بحث</button>
</div>
</div>
</div>
</div>
     </form>

<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">الرواتب</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a  href="{% url 'add_salaire' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped" id="dataTable">
<thead class="student-thread">
<tr>
<th>الاسم واللقب</th>
<th>الهاتف المحمول</th>
<th>القيمة</th>
<th>الحالة</th>
</tr>
</thead>
<tbody>
{% for i in enseignants %}
<tr>
<td>
<h2 class="table-avatar">
<a href="teacher-details.html" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" src="assets/img/profiles/avatar-02.jpg" alt="صورة المستخدم"></a>
<a href="teacher-details.html">{{i.nom}}{{i.prenom}}</a>
</h2>
</td>
<td>{{i.mobile}}</td>
<td>{{i.montant_total}}</td>
    <td>{% if i.montant_total > 0 %} <span class="badge badge-danger">لم يدفع</span>{% else %} <span class="badge badge-success">دفع</span>{% endif %}</td>
<td class="text-end">
    <div class="actions ">
    <a href="/enseignant_history/{{i.id}}" class="btn btn-sm bg-success-light me-2 ">
    <i class="feather-eye"></i>
    </a>
    </div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



<script>
    {% if messages %}
      {% for message in messages %}
        {% if 'success' in message.tags %}
          Swal.fire({
            title: 'تمت الإضافة بنجاح',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'تم'
          });
        {% elif 'warning' in message.tags %}
          Swal.fire({
            title: 'تمت الإزالة بنجاح',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'تم'
          });
        {% elif 'info' in message.tags %}
          Swal.fire({
            title: 'تمت التعديل بنجاح',
            text: '{{ message }}',
            icon: 'success',
            confirmButtonText: 'تم'
          });
        {% endif %}
      {% endfor %}
    {% endif %}
  </script>
{% endblock %}
