{% extends 'navbar.html' %}

{% block title %}
  تعديل المواد
{% endblock %}

{% block content %}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">تعديل المادة</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="subjects.html">المواد</a></li>
<li class="breadcrumb-item active">تعديل المادة</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="post" action="/update_matiere/{{matiere.id}}">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>معلومات عن المادة</span></h5>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>اسم المادة <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="{{matiere.libelle}}" name="libelle">
</div>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>المعامل <span class="login-danger">*</span></label>
<input type="number" class="form-control" value="{{matiere.coefficient}}" name="coefficient">
</div>
</div>
        <div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>القيمة الكاملة <span class="login-danger">*</span></label>
<input type="number" class="form-control" name="note_complete" value="{{matiere.note_complete}}">
</div>
</div>
<div class="col-12">
<div class="student-submit">
<button type="submit" class="btn btn-primary">حفظ</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
