{% extends 'navbar.html' %}

{% block title %}
  time table
{% endblock %}

{% block content %}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Time Table</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
<li class="breadcrumb-item active">Time Table</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card card-table">
<div class="card-body">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Time Table</h3>
</div>
<div class="col-auto text-end float-end ms-auto download-grp">
<a href="{% url 'timetable_list' %}" class="btn btn-primary">print time table</a>
<a href="{% url 'add_timetable' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
</div>
</div>
</div>

<div class="table-responsive">
<table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
<thead class="student-thread">
<tr>
<th>Nom</th>
<th>Class</th>
<th>Matiere</th>
<th>Start Time</th>
<th>End Time</th>
<th>Day</th>
<th class="text-end">Action</th>
</tr>
</thead>
<tbody>
{% for i in timetables %}
<tr>
<td>{{i.id_ens.nom}}</td>
<td>{{i.id_class.libelle}}</td>
<td>{{i.id_matiere.libelle}}</td>
<td>{{i.start_time}}</td>
<td>{{i.end_time}}</td>
<td>{{i.day}}</td>
<td class="text-end">
<div class="actions">
<a href="/edit_timetable/{{i.id}}" class="btn btn-sm bg-danger-light">
<i class="feather-edit"></i>
</a>
<a href="/delete_timetable/{{i.id}}" class="btn btn-sm bg-danger-light">
    <i class="feather-trash" ></i>
</a>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}