{% extends 'navbar.html' %}

{% block title %}
  تعديل الصفوف
{% endblock %}

{% block content %}

<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">تعديل الصف</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="departments.html">الصفوف</a></li>
<li class="breadcrumb-item active">تعديل الصف</li>
</ul>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form method="post" action="/update_classes/{{classe.id}}">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>تفاصيل الصف</span></h5>
</div>
<div class="col-12 col-sm-4">
<div class="form-group local-forms">
<label>اسم الصف <span class="login-danger">*</span></label>
<input type="text" class="form-control" value="{{classe.libelle}}" name="libelle">
</div>
</div>
<div class="col-12">
<div class="student-submit">
<button type="submit" class="btn btn-primary">حفظ</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
